<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWPcIrhwIgpSe30UrGXkCawnRVFY1mOQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>408437773786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.quickstart.AnalyticsExample</string>
	<key>PROJECT_ID</key>
	<string>obfb-1984</string>
	<key>STORAGE_BUCKET</key>
	<string>obfb-1984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408437773786:ios:5b134c41e9d16a5a461ce3</string>
</dict>
</plist>